!node_modules/@abandonware
!node_modules/@xyo-network
node_modules/@abandonware/node-addon-api
.bin
.cache
.github
.package-lock.json
.vscode
.ldlb
.log
.sln
.vcxproj
.filters
CURRENT
LOCK
LOG
LOG.old
MANIFEST-*
LICENSE
examples
build
Release
dist
node_modules/.bin
tsconfig.tsbuildinfo
