# Don't ignore these
!node_modules/@abandonware
!node_modules/@xyo-network

# Hidden dirs/file extensions
*.map
.bin
.cache
.eslintrc.cjs
.package-lock.json
.prettierrc
.vscode

# Ignore these
bluetooth_hci_socket.node
bridge-store/*
node_modules/**/node_modules
package-lock.json

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/
