# Don't ignore these
!node_modules/@abandonware
!node_modules/@xyo-network

# Hidden dirs/file extensions
.*
*.tsbuildinfo

node_modules/**/node_modules

# Ignore these
bridge-store/*
build
CURRENT
dist
examples
LICENSE
LOCK
LOG
LOG.old
MANIFEST-*
package-lock.json
Release